@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script&family=Fredericka+the+Great&family=Kaushan+Script&family=Rubik+Glitch&display=swap');
:root {
  /* 
        FIRST WE'LL DEFINE OUR SWATCHES, i.e. THE COMPLEMENTARY
        COLORS THAT WE'LL USE TOGETHER IN MULTIPLE PLACES THAT
        TOGETHER WILL MAKE UP A GIVEN THEME
    
        @author McKilla Gorilla
    */
  --my-font-family: "Robaaaoto";
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

#root {
  background: rgb(248,200,220);
  background: linear-gradient(90deg, rgba(248,200,220,1) 0%, rgba(167,199,231,1) 88%);
  font-family: "Lexend Exa";
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  left:0;
  top:0;
}

#app-root {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
}

#playlister-banner {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 10%;
  float: left;
  background-image: linear-gradient(to bottom, #b8b808, #636723);
  color: white;
  font-size: 48pt;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
}

#splash-screen { 
  background: rgb(248,200,220);
  background: linear-gradient(90deg, rgba(248,200,220,1) 0%, rgba(167,199,231,1) 88%);
  /*background: rgb(213,231,184);
  background: linear-gradient(0deg, rgba(213,231,184,1) 0%, rgba(75,126,78,1) 100%);*/
  font-size: 5vw;
  border-color: black;
  height: 100vh;
  text-align: center;
  vertical-align: center;
  overflow: hidden;
}

#playlist-wrapper{
  height: 90vh;
  display: flex;
}

#splash-screen-buttons {
  margin-top: 5ch;
}

#playlister {
  font-family: 'kushan script', cursive;
  font-style: bold;
  font-weight: 800;
  color: #ad0d0d;
  font-size: 4ch;
  padding-top: 1.3ch;
  
}

#Secondary-toolbar {
  width: 100%;
  float: right;
}

#playlister-Logo {
  font-family: 'Dancing Script', cursive;
  color: #ad0d0d;
  font-size: 70%;
}

#playlister-purpose-statement {
  font-family: 'Caveat', cursive;
  padding-top: 1ch;
  color: rgb(255, 255, 255);
  font-size: 30px;
}

#createAccount {
  background-color: rgb(0, 0, 0);
  width: 12%;
  min-width: 10ch;
  height: 6vh;
  margin: 3ch;
  color: #cccccc;
  border-radius: 10px;
  border-color: rgb(247, 184, 210);
  border-width: 5px;
  border-style: double;
}

#continueAsGuest {
  background-color:rgb(0, 0, 0);
  width: 12%;
  min-width: 10ch;
  height: 6vh;
  margin: 3ch;
  color: #cccccc;
  border-radius: 10px;
  border-color: rgb(169, 173, 208);
  border-width: 5px;
  border-style: double;
}

#login {
  background-color: rgb(0, 0, 0);
  width: 12%;
  min-width: 10ch;
  height: 6vh;
  margin: 3ch;
  border-radius: 10px;
  color: #cccccc;
  border-color: rgb(211, 187, 233);
  border-width: 5px;
  border-style: double;
}

#edit-toolbar {
  background-color: transparent;
  float: right;
}

.playlister-button,
.playlister-button-disabled {
  font-size: 36pt;
  border-width: 0px;
  float: left;
  color: black;
  cursor: pointer;
  opacity: 100%;
}

.playlister-button:hover {
  cursor: pointer;
  color: black;
}

.playlister-button-disabled {
  opacity: 0.25;
  cursor: not-allowed;
}

#playlist-selector{
  width: 50%;
  float: left;
}

#playlister-list-selector {
  left: 0%;
  top: 10%;
  height: 80%;
  background: rgb(248,200,220);
  background: linear-gradient(90deg, rgba(248,200,220,1) 0%, rgba(167,199,231,1) 88%);
}

#playlister-workspace {
  background: rgb(248,200,220);
  background: linear-gradient(90deg, rgba(248,200,220,1) 0%, rgba(167,199,231,1) 88%);
  position: absolute;
  left: 0%;
  top: 10%;
  width: 50%;
  width: 100%;
}

#playlist-cards {
  max-height: 50vh;
  overflow-y: scroll;
  margin-top: 5%;
}

#player-buttons {
  width: 100%;
}
#last-song {
  width: 10%;
  height: 4vh;
  margin-left: 30%;
  font-size: 2vh;
  background-color: #62672300;
}
#next-song {
  width: 10%;
  height: 4vh;
  font-size: 2vh;
  background-color: #62672300;
}
#play-song {
  width: 10%;
  height: 4vh;
  font-size: 2vh;
  background-color: #62672300;
}
#pause-song {
  width: 10%;
  height: 4vh;
  font-size: 2vh;
  background-color: #62672300;
}

#player-text{
  font-family: 'Kushan Script', cursive;
  font-weight: 900;
  font-size: larger;
  margin-left: 10%;
}

#youtubePlayer {
  width: 50%;
  float: right;
  margin-top: .40%;
  height: 90%;
}

#playlister-statusbar {
  position: absolute;
  left: 0%;
  top: 93%;
  width: 100%;
  height: 7%;
  background-color: #8cceed64;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36pt;
}

#playlist-name {
  font-family: 'Caveat', cursive;
}

#userName {
  position: absolute;
  top: 4%;
  left: 2%;
  margin-top: 1.5%;
}

#published {
  position: absolute;
  top: 70%;
  left: 70%;
}

#like-button {
  position: absolute;
  top: 5%;
  left: 65%;
}

#dislike-button {
  position: absolute;
  top: 5%;
  left: 75%;
}

#expand-button {
  position: absolute;
  top: 5%;
  left: 85%;
}

#youtube-player {
  width: 100%;
  height: 40vh;
  border-color: black;
  border-style: double;
}
#youtube-player-controller {
  width: 100%;
  height: 22vh;
  border-color: black;
  border-style: double;
}

#comment-section {
  width: 100%;
  height: 63vh;
  border-color: black;
  border-style: double;
}

#input-comment-section{
  position: relative;
  height: 20%;
  width: 90%;
  background-color: #62672300;
}

#comment-display{
  width: 105.3%;
  height: 49.7vh;
  overflow: scroll;
}

#comment-card {
  width: 100%;
  height: 5vh;
  background-color: rgb(169, 185, 241);
  margin-bottom: 2%;
  border-radius: 3px;
  padding-left: 5%;
  padding-top: 2%;
}

#add-song-button {
  position: relative;
  width: 50%;
  background-color: #a5abdc45;
  border-radius: 40px;
  padding-left: 50%;
}

#comment-card-username {
  font-size: 70%;
  color: rgb(4, 4, 209);
}

#listButtons {
  color: black;
}

#list-selector-heading {
  position: absolute;
  left: 30%;
  top: 0%;
  width: 50%;
  text-align: center;
  font-size: 5pt;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

#add-list-button {
  float: left;
  margin-top: .9%;
  transform: scale(.8);
}

#add-list {
  font-family: 'Kaushan Script', cursive;
  font-size: 10ch;
  margin-top: .4%;
}

#list-selector-list {
  width: 100%;
  height: 84%;
  margin-top: .80%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.list-card,
.selected-list-card,
.unselected-list-card {
  font-size: 18pt;
  margin: 10px;
  padding: 20px;
}

.list-card:aria-disabled,
.list-card[aria-disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  pointer-events: none;
  border-radius: 25px;
}

.unselected-list-card:hover {
  cursor: pointer;
  background-color: var(--swatch-contrast);
  color: rgb(133, 120, 232);
}

.selected-list-card {
  background-color: var(--swatch-accent);
  color: rgb(163, 232, 208);
  border-radius: 30px;
}

.unselected-list-card {
  background-color: var(--swatch-complement);
  border-radius: 25px;
}

.list-card-button {
  float: right;
  transform: scale(1);
}

#workspace-home,
#workspace-edit {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
}

#edit-numbering {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 20%;
  height: 100%;
  background-color: var(--swatch-status);
}

#edit-items {
  position: absolute;
  left: 20%;
  top: 0%;
  width: 80%;
  height: 100%;
  background-color: var(--swatch-primary);
}

.item-number,
.top5-item,
.top5-item-dragged-to {
  display: flex;
  align-items: center;
  font-size: 48pt;
  height: 20%;
}

.item-number {
  justify-content: center;
  width: 100%;
  border: 1px 0px 1px 1px;
  border-color: black;
  background-color: linen;
  color: black;
}

.top5-item,
.top5-item-dragged-to {
  text-align: left;
  width: 95%;
  padding-left: 5%;
}
.top5-item {
  background-color: var(--swatch-complement);
}
.top5-item-dragged-to {
  background-color: var(--swatch-accent);
}

.disabled {
  background-color: lightgray;
}

.disabled:hover {
  color: var(--swatch-neutral);
}

/* THIS STYLE SHEET MANAGES STYLE FOR OUR MODAL, i.e. DIALOG BOX */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: var(--black);
  color: var(--swatch-text);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
  font-family: var(--font-primary);
}

input{
  size: 50px;
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}

.modal-dialog {
  position: relative;
  max-width: 800px;
  max-height: 80vh;
  background: var(--swatch-complement);
  overflow: auto;
  cursor: default;
  border-width: 5px;
  border-radius: 10px;
  border-style: groove;
}

.modal-dialog > * {
  padding: 1rem;
}

.modal-header,
.modal-footer {
  background: var(--lightgray);
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: dotted;
}

.modal-header,
.modal-close {
  font-size: 1.5rem;
}

.modal-control {
  cursor: pointer;
  width: 20%;
}

.dialog-header {
  font-size: 24pt;
}

#close-modal-button {
  float: right;
}

#confirm-cancel-container {
  text-align: center;
}

/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
[data-animation] .modal-dialog {
  opacity: 0;
  transition: all 0.5s var(--bounceEasing);
}

[data-animation].is-visible .modal-dialog {
  opacity: 1;
  transition-delay: 0.2s;
}

[data-animation="slideInOutDown"] .modal-dialog {
  transform: translateY(100%);
}

[data-animation="slideInOutTop"] .modal-dialog {
  transform: translateY(-100%);
}

[data-animation="slideInOutLeft"] .modal-dialog {
  transform: translateX(-100%);
}

[data-animation="slideInOutRight"] .modal-dialog {
  transform: translateX(100%);
}

[data-animation="zoomInOut"] .modal-dialog {
  transform: scale(0.2);
}

[data-animation="rotateInOutDown"] .modal-dialog {
  transform-origin: top left;
  transform: rotate(-1turn);
}

[data-animation="mixInAnimations"].is-visible .modal-dialog {
  animation: mixInAnimations 2s 0.2s linear forwards;
}

[data-animation="slideInOutDown"].is-visible .modal-dialog,
[data-animation="slideInOutTop"].is-visible .modal-dialog,
[data-animation="slideInOutLeft"].is-visible .modal-dialog,
[data-animation="slideInOutRight"].is-visible .modal-dialog,
[data-animation="zoomInOut"].is-visible .modal-dialog,
[data-animation="rotateInOutDown"].is-visible .modal-dialog {
  transform: none;
}

@keyframes mixInAnimations {
  0% {
    transform: translateX(-100%);
  }

  10% {
    transform: translateX(0);
  }

  20% {
    transform: rotate(20deg);
  }

  30% {
    transform: rotate(-20deg);
  }

  40% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(-15deg);
  }

  60% {
    transform: rotate(10deg);
  }

  70% {
    transform: rotate(-10deg);
  }

  80% {
    transform: rotate(5deg);
  }

  90% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
